
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/js/home/login.js"></script>
    <title>Document</title>
</head>
<body>
    로그인 화면입니다. <br>
    ID:<input type="text"><br>
    PW:<input type="text"></br>
    <button>로그인</button>
</body>
</html>
        